.tetris_spare {
    display: block;
	left: 20px;
	padding: 20px;
	padding-top: 28px;
	padding-left: 0px;
	position: relative;
}
.tetris {
    display: block;
	padding: 20px;
	padding-top: 0px;
}
.tetris_next {
    display: block;
	right: 20px;
	padding: 20px;
	padding-top: 28px;
	padding-right: 0px;
	position: relative;
}
.tetris_table {
    border-radius: 20px;
	background: radial-gradient(#ffff00, #ffd000);
	margin: 0 auto;
}
